<template>
    <div class="relative w-full flex flex-col items-center mb-3">
        <h1 class="relative text-center text-2xl xl:text-4xl text-white font-semibold uppercase">
            Profilo Candidato
        </h1>
         <div class="relative w-full flex justify-center">
            <font-awesome-icon 
                  :icon="[ 'fas', 'angle-down' ]"
                  class="text-white text-6xl"></font-awesome-icon>
        </div>
        <div class="relative w-full px-3">
            <div class="relative w-full flex -mx-3">
                <div class="relative w-1/6 border-r-2 border-white px-3">
                    <div class="relative w-full">
                        <div class="absolute top-0 right-0 z-10">
                            <label for="photo">
                                <input 
                                    type="file" 
                                    id="photo" 
                                    class="hidden"
                                    ref="file"
                                    @change="onFileSelected" />
                                <font-awesome-icon 
                                    :icon="[ 'fas', 'pencil-alt' ]"
                                    class="text-white text-2xl cursor-pointer hover:text-mj-blue-1"></font-awesome-icon>
                            </label>
                        </div>
                        <div class="relative w-full">
                            <img :src="userAvatar" alt="">
                            <div 
                                v-if="photo"
                                class="absolute bottom-0 left-0 bg-mj-blue-1 h-2"
                                :style="{ width: progress + '%' }">

                            </div>
                        </div>

                        <div class="relative w-full" v-if="errors.length > 0">
                            <p 
                                v-for="( error, index ) of errors" 
                                :key="index"
                                class="text-xs text-red-700">
                                {{error}}
                            </p>
                        </div>

                    </div>
                </div>
                <div class="relative w-5/6 px-3">
                    {{user}}
                </div>
                
            </div>
            <div class="relative w-full flex -mx-3">
                <div class="relative w-1/6 border-r-2 border-white px-3 pt-4"></div>
                <div class="relative w-5/6 px-3 pt-4">
                    <user-skills></user-skills>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
    import UserSkills from '@/components/Profiles/User/UserSkills'
    import ApiServices from '@/services/api-services'

    export default {
        name: 'mj-user-profile',
        components: {
            UserSkills
        },
        data: function() {
            return {
                photo: undefined,
                errors: [],
                progress: 0
            };
        },
        computed: {
            user() {
                return this.$store.getters.user;
            },
            userAvatar() {
                return this.user.details.photo ? this.user.details.photo_full_path : require( '@/assets/images/mf-user-avatar-empty.png' );
            }
        },
        methods: {
            onFileSelected( event ) {
                this.photo = event.target.files[0];
                this.errors = [];
                
                ApiServices
                    .uploadUserPhoto( this.photo, event => {
                        this.progress = Math.round( ( 100 * event.loaded ) / event.total );
                    } )
                    .then((response) => {
                        // console.log( response );
                        this.$store.dispatch( 'setUserAvatar', response.data.result.photo_url );
                    }).catch((err) => {
                        this.errors = err.response.data.errors.photo;
                        // console.log( err.response.data.errors );
                    })
                    .finally( () => {
                        this.progress = 0;
                        this.photo = undefined;
                    });
            }
            /*
            onFileSelected() {
                console.log( this.$refs.file.files.item(0) );
            }*/
        }
    }
</script>

<style lang="scss" scoped>

</style>
