<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iste animi amet, distinctio molestias quia quisquam veritatis a obcaecati beatae repellendus at perspiciatis, praesentium repellat dolorum accusamus pariatur dignissimos illo.
    </p>
  </div>
</template>

<style lang="scss" scoped>
  p {
    color: red;
  }
</style>
