<template>
<div class="relative flex justify-center">
  <form class="relative w-full md:w-3/5 lg:w-1/2 my-6">
    <mj-input
      class="mb-4"
      layout="dark"
      id="company-code" 
      input-type="text" 
      placeholder="Codice Azienda"
      v-model="companyCode"
      :has-error="$v.companyCode.$error"
      @input="$v.companyCode.$touch()">
      
        <p class="text-red-500" v-if="$v.companyCode.$dirty && $v.companyCode.$invalid">
          campo non valido
        </p>  
      
    </mj-input>

    <mj-input
      class="mb-4"
      layout="dark"
      id="password" 
      input-type="password" 
      placeholder="Password"
      v-model="password"
      :has-error="$v.password.$error"
      @input="$v.password.$touch()">
      
        <p class="text-red-500" v-if="$v.password.$dirty && $v.password.$invalid">
          campo non valido
        </p>  
      
    </mj-input>

    <div class="flex justify-center">
      <button
        type="submit"
        class="px-10 lg:px-16 py-2 lg:py-3 bg-mj-blue-1 text-white disabled:bg-opacity-50 font-bold text-lg rounded-full uppercase tracking-widest shadow-md"
        @click.prevent="submitForm"
        :disabled="$v.$invalid"
        >
          Invia
        </button>
    </div>

  </form>
</div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import MjInput from '@/components/MJInput'
export default {
  name: 'CompanyLogin',
  data: function() {
    return {
      companyCode: '',
      password: ''
    }
  },
  components: {
    MjInput
  },
  validations: {
    companyCode: {
      required
    },
    password: {
      required
    }
  },
  computed: {
    user: function() {
      return this.$store.getters.user;
    }
  },
  methods: {
    submitForm() {
      const postBody = {
        username: this.companyCode,
        password: this.password
      };
      this.$store.dispatch( 'doCompanyLogin', postBody );
    }
  }
}
</script>
