<template>
  <main id="home" class="relative w-full flex flex-col justify-center">
    <div class="container mx-auto px-4 mt-6 mb-12 lg:mb-24">
      <div class="relative flex w-full flex-col items-center">
        <h1 
          class="relative text-center text-3xl lg:text-5xl text-white uppercase font-bold border-b leading-tight">
          Musa Job Opportunities
        </h1>
        <h2
          class="relative text-center text-lg lg:text-2xl text-white font-light leading-tight mt-3">
          il punto di incontro tra chi Cerca e Offre lavoro
        </h2>
      </div>
    </div>
    <div class="container mx-auto px-4">
      <div class="realtive flex flex-wrap">
        <div class="relative flex flex-col w-full lg:w-1/2 mx-auto lg:flex-row justify-between">
          <div class="relative flex text-center flex-col mb-6">
            <div>
              <font-awesome-icon 
                    :icon="[ 'fas', 'briefcase' ]"
                    class="text-white text-6xl"></font-awesome-icon>
            </div>
            <div>
              <h3 class="text-white text-xl font-bold mb-4">
                Sei un'azienda
              </h3>
            </div>
            <div>
              <router-link 
                to="/register-company" class="relative inline-block bg-transparent hover:bg-white text-white hover:text-mj-blue-1 px-12 py-2 border border-white rounded-full font-semibold">
                Registrati
              </router-link>
            </div>
          </div>
          <div class="relative w-full h-full hidden lg:flex justify-center">
            <div class="relative w-1 bg-white h-full"></div>
          </div>
          <div class="relative flex text-center flex-col">
            <div>
              <font-awesome-icon 
                    :icon="[ 'far', 'user' ]"
                    class="text-white text-6xl"></font-awesome-icon>
            </div>
            <div>
              <h3 class="text-white text-xl font-bold mb-4">
                Sei un candidato
              </h3>
            </div>
            <div>
              <router-link 
                to="/register"
                class="relative inline-block bg-transparent hover:bg-white text-white hover:text-mj-blue-1 px-12 py-2 border border-white rounded-full font-semibold">
                Registrati
              </router-link>
            </div>
          </div>
        </div>
        <div class="relative flex w-full mt-6">
          <div class="relative flex w-full lg:w-1/2 mx-auto justify-center">
            <p class="text-mj-blue-1 text-base font-semibold">
              <sup>*</sup>Lipsum dolor sit amet consectetur adipisicing elit. Itaque pariatur, qui neque eius temporibus architecto debitis magni unde perspiciatis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home'
}
</script>
