<template>
  <main id="inputs">
    <div class="relative container mx-auto mt-10">

      <form action="">

        <div class="relative w-1/3 mx-auto">
          <mj-input
            layout="light"
            id="first-name"
            placeholder="Nome"
            icon-type="empty"></mj-input>
        </div>

        <div class="relative w-1/3 mx-auto">
          <mj-input
            layout="dark"
            icon-type="empty"></mj-input>
        </div>

        <div class="relative w-1/3 mx-auto">
          <mj-input
            layout="light"
            id="password"
            placeholder="Password"
            input-type="password"
            icon-type="empty"></mj-input>
        </div>

        <div class="relative w-1/3 mx-auto">
          <mj-input
            layout="light"
            id="email"
            placeholder="Email"
            input-type="email"
            icon-type="empty"
            :is-required="true"></mj-input>
        </div>
        <div class="relative w-1/3 mx-auto">
          <mj-input
            layout="light"
            placeholder="Con icona interna"
            icon-position="inner"
            icon-type="empty"
            :icon="[ 'fas', 'search' ]"></mj-input>
        </div>
        <div class="relative w-1/3 mx-auto">
          <mj-input
            layout="dark"
            placeholder="Con icona esterna"
            icon-position="outer"
            :icon="[ 'far', 'user' ]"></mj-input>
        </div>
        <div class="relative mt-6 text-center">
          <button type="submit">invia</button>
        </div>
      </form>
    </div>





    <hr>
    <hr>



    <div class="relative container mx-auto mt-10">

      <form action="">

        <div class="relative w-1/3 mx-auto">
          <mj-input
            layout="light"
            id="first-name"
            placeholder="Nome"
            ></mj-input>
        </div>

        <div class="relative w-1/3 mx-auto">
          <mj-input
            layout="dark"
            ></mj-input>
        </div>

        <div class="relative w-1/3 mx-auto">
          <mj-input
            layout="light"
            id="password"
            placeholder="Password"
            input-type="password"
            ></mj-input>
        </div>

        <div class="relative w-1/3 mx-auto">
          <mj-input
            layout="light"
            id="email"
            placeholder="Email"
            input-type="email"
            
            :is-required="true"></mj-input>
        </div>
        <div class="relative mt-6 text-center">
          <button type="submit">invia</button>
        </div>
      </form>
    </div>
  </main>
</template>

<script>
import MjInput from '@/components/MJInput'

export default {
  name: 'Inputs',
  components: {
    MjInput
  }
}
</script>
