<template>
  <main id="list" class="relative w-full">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-wrap">
        <div class="relative w-full lg:w-4/5 mx-auto mt-6">
          <component :is="listType"></component>
        </div>
      </div>
    </div>
  </main>
</template>


<script>
  import JobOffersList from '@/components/JobOffers/JobOffersList'
  import UsersList from '@/components/Users/UsersList'

  export default {
    components: {
      JobOffersList,
      UsersList
    },
    computed: {
      listType() {
        if( this.$store.getters.userType === 'user' ) {
          return 'JobOffersList';
        } else if( this.$store.getters.userType === 'company' ) {
          return 'UsersList';
        } else {
          return '';
        }
      }
    }
  }
</script> 