<template>
  <main id="login">
    <div class="relative container mx-auto mt-6 lg:mt-10 px-4">
      <div class="relative flex w-full">
        <div class="relative w-1/6 flex justify-center">
          <router-link to="/" class="relative h-8 w-8 p-1 flex items-center justify-center">
            <font-awesome-icon 
                  :icon="[ 'fas', 'angle-left' ]"
                  class="text-white text-5xl"></font-awesome-icon>
          </router-link>
        </div>
        <div class="relative w-4/6">
          <div class="relative w-full flex flex-col p-6 rounded-md bg-white bg-opacity-25">
              <div class="realtive flex justify-center">
                <img src="@/assets/images/musa-logo-bianco-web.png" alt="" class="w-2/3 md:w-1/3 lg:w-1/5" />
              </div>
              <div class="relative flex justify-center my-4">
                <router-link 
                  to="/login"
                  class="relative bg-mj-blue-1 py-2 px-6 text-white">
                    Utente</router-link>
                <router-link 
                to="/login/company"
                class="relative bg-mj-blue-1 py-2 px-6 text-white">Azienda</router-link>
              </div>
              <router-view />
          </div>
        </div>
        <div class="relative w-1/6"></div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'Login'
}
</script>

<style lang="scss" scoped>
  .router-link-exact-active {
    @apply bg-white;
    @apply text-mj-blue-1;
  }
</style>
