<template>
  <main id="profile" class="relative w-full">
    <div class="relative container mx-auto px-4">
      <div class="relative flex flex-wrap">
        <div class="relative mx-auto mt-6 w-full w-4/5">
          <component :is="profileComponent"></component>
        </div>
      </div>
      
    </div>
    
    <!---
    {{ profileType }}
    <company-profile v-if="profileType === 'company'"></company-profile>
    <user-profile v-if="profileType === 'user'"></user-profile>
    -->
  </main>
</template>


<script>
  import CompanyProfile from '@/components/Profiles/CompanyProfile'
  import UserProfile from '@/components/Profiles/UserProfile'
  
  export default {
    name: 'Profile',
    components: {
      CompanyProfile,
      UserProfile
    },
    computed: {
      profileType() {
        return this.$store.getters.userType;
      },
      profileComponent() {
        if( this.profileType === 'user' ) {
          return 'UserProfile';
        } else if( this.profileType === 'company' ) {
          return 'CompanyProfile';
        } else {
          return '';
        }
      }
    }
  }
</script> 