<template>
  <main id="register-company" class="relative w-full">
    <div class="relative container mx-auto mt-6 lg:mt-10 px-4">
      <div class="relative flex w-full">
        <div class="relative w-1/6 flex justify-center">
          <router-link to="/" class="relative h-8 w-8 p-1 flex items-center justify-center">
            <font-awesome-icon 
                  :icon="[ 'fas', 'angle-left' ]"
                  class="text-white text-5xl"></font-awesome-icon>
          </router-link>
        </div>
        <div class="relative w-4/6">
          <div class="relative w-full flex flex-col p-6 rounded-md bg-white bg-opacity-25">
              <div class="realtive flex justify-center">
                <img src="@/assets/images/musa-logo-bianco-web.png" alt="" class="w-2/3 md:w-1/3 lg:w-1/5" />
              </div>

              <div
                v-if="Object.keys(registrationErrors).length"
                class="relative p-4 bg-red-400 border-red-600 border"
              >
                <button 
                  class="absolute top-0 right-0"
                  @click="dismissAlert">
                  X
                </button>
                <ul>
                  <li 
                    v-for="( error, key ) of registrationErrors"
                    :key="key">
                    <div>
                      <strong>{{ key }}</strong>
                      <p 
                        v-for="(errorMsg, index) of error"
                        :key="index">
                          {{ errorMsg }}
                        </p>
                    </div>
                  </li>
                </ul>
              </div>
              
              
              <div class="relative flex justify-center">
                <form class="relative w-full md:w-3/5 lg:w-1/2 my-6">

                  <mj-input
                    class="mb-4"
                    layout="dark"
                    id="company-name" 
                    input-type="text" 
                    placeholder="Ragione Sociale"
                    v-model="userData.companyName"
                    :has-error="$v.userData.companyName.$error"
                    @input="$v.userData.companyName.$touch()">
                    
                      <p class="text-red-500" v-if="$v.userData.companyName.$dirty && $v.userData.companyName.$invalid">
                        campo non valido
                      </p>  
                    
                  </mj-input>
                  
                
                <mj-select
                    class="mb-4"
                    layout="dark"
                    id="company-category" 
                    empty-option-label="Seleziona una categoria"
                    :options="categories"
                    v-model="userData.category"
                    :has-error="$v.userData.category.$error"
                    @input="$v.userData.category.$touch()">
                      
                      <p class="text-red-500" v-if="$v.userData.category.$dirty && $v.userData.category.$invalid">
                        campo non valido
                      </p>  
                </mj-select>



                  <mj-input
                    class="mb-4"
                    layout="dark"
                    id="first-name" 
                    input-type="text" 
                    placeholder="Nome Referente"
                    v-model="userData.firstName"
                    :has-error="$v.userData.firstName.$error"
                    @input="$v.userData.firstName.$touch()">
                    
                      <p class="text-red-500" v-if="$v.userData.firstName.$dirty && $v.userData.firstName.$invalid">
                        campo non valido
                      </p>  
                    
                  </mj-input>

                  <mj-input
                    class="mb-4"
                    layout="dark"
                    id="last-name" 
                    input-type="text" 
                    placeholder="Cognome Referente"
                    v-model="userData.lastName"
                    :has-error="$v.userData.lastName.$error"
                    @input="$v.userData.lastName.$touch()">
                    
                      <p class="text-red-500" v-if="$v.userData.lastName.$dirty && $v.userData.lastName.$invalid">
                        campo non valido
                      </p>  
                    
                  </mj-input>


                  <mj-input
                    class="mb-4"
                    layout="dark"
                    id="email" 
                    input-type="email" 
                    placeholder="Email"
                    v-model="userData.email"
                    :has-error="$v.userData.email.$error"
                    @input="$v.userData.email.$touch()">
                    
                      <p class="text-red-500" v-if="$v.userData.email.$dirty && $v.userData.email.$invalid">
                        campo non valido
                      </p>  
                    
                  </mj-input>

                  <mj-input
                    class="mb-4"
                    layout="dark"
                    id="password" 
                    input-type="password" 
                    placeholder="Password"
                    v-model="userData.password"
                    :has-error="$v.userData.password.$error"
                    @input="$v.userData.password.$touch()">
                    
                      <p class="text-red-500" v-if="$v.userData.password.$dirty && $v.userData.password.$invalid">
                        campo non valido, la password deve essere lunga almeno {{ $v.userData.password.$params.minLen.min }} caratteri
                      </p>  
                    
                  </mj-input>

                  <mj-input
                    class="mb-4"
                    layout="dark"
                    id="password-confirm" 
                    input-type="password" 
                    placeholder="Conferma Password"
                    v-model="userData.passwordConfirm"
                    :has-error="$v.userData.passwordConfirm.$error"
                    @input="$v.userData.passwordConfirm.$touch()">
                    
                      <p class="text-red-500" v-if="$v.userData.passwordConfirm.$dirty && $v.userData.passwordConfirm.$invalid">
                        campo non valido.
                      </p>  
                    
                  </mj-input>

                  <div class="mb-6">
                    <label class="w-full block text-gray-500 font-bold">
                      <input 
                        class="mr-2 leading-tight" 
                        type="checkbox"
                        v-model="userData.privacy">
                      <span 
                        class="text-xs"
                        :class="[ $v.userData.privacy.$invalid ? 'text-red-500' : 'text-mj-blue-1' ]"
                        >
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                      </span>
                    </label>
                  </div>

                  <div class="flex justify-center">
                    <button
                      type="submit"
                      class="px-10 lg:px-16 py-2 lg:py-3 bg-mj-blue-1 text-white disabled:bg-opacity-50 font-bold text-lg rounded-full uppercase tracking-widest shadow-md"
                      @click.prevent="submitForm"
                      :disabled="$v.$invalid"
                      >
                        Invia
                      </button>
                  </div>

                </form>
              </div>
          </div>
        </div>
        <div class="relative w-1/6"></div>
      </div>
    </div>
  </main>
</template>

<script>
import axios from 'axios';
import { required, email, minLength, sameAs, integer, minValue } from 'vuelidate/lib/validators'
import MjInput from '@/components/MJInput'
import MjSelect from '@/components/MJSelect'

export default {
  name: 'RegisterCompany',
  components: {
    MjInput,
    MjSelect
  },
  data: function() {
    return {
      userData: {
        companyName: '',
        category: '',
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        passwordConfirm: '',
        privacy: false
      },
      categories: []
    };
  },
  validations: {
    userData: {
      companyName: {
        required
      },
      category: {
        required,
        integer,
        minVal: minValue(1)
      },
      firstName: {
        required
      },
      lastName: {
        required
      },
      email: {
        required,
        email
      },
      password: {
        required,
        minLen: minLength(8)
      },
      passwordConfirm: {
        sameAs: sameAs( 'password' )
      },
      privacy: {
        samAs: sameAs( () => {
          return true;
        } )
      }
    }
  },
  methods: {
    submitForm: function() {
      this.$store.dispatch( 'registerCompany', this.userData );
    },
    fetchCategories() {
      axios
        .get( 'company-categories' )
        .then( res => {
          if( res.status === 200 ) {
            this.categories = res.data.result.categories;
          }
        })
        .catch( err => {
          console.log( err );
        });
    },
    dismissAlert() {
      this.$store.dispatch('resetErrors');
    }
  },
  created() {
    this.fetchCategories();    
  },
  computed: {
    registrationErrors() {
      return this.$store.getters.errors;
    }
  },
  destroyed() {
    this.$store.dispatch('resetErrors');
  }
}
</script>

<style lang="scss">
  /*.form-container {
    background-color: rgba( 255, 255, 255, .25 );
  }*/
</style>