<template>
  <div class="relative flex justify-center">
    <form class="relative w-full md:w-3/5 lg:w-1/2 my-6">
      <mj-input
        class="mb-4"
        layout="dark"
        id="email" 
        input-type="email" 
        placeholder="Email"
        v-model="email"
        :has-error="$v.email.$error"
        @input="$v.email.$touch()">
        
          <p class="text-red-500" v-if="$v.email.$dirty && $v.email.$invalid">
            campo non valido
          </p>  
        
      </mj-input>

      <mj-input
        class="mb-4"
        layout="dark"
        id="password" 
        input-type="password" 
        placeholder="Password"
        v-model="password"
        :has-error="$v.password.$error"
        @input="$v.password.$touch()">
        
          <p class="text-red-500" v-if="$v.password.$dirty && $v.password.$invalid">
            campo non valido
          </p>  
        
      </mj-input>

      <div class="flex justify-center">
        <button
          type="submit"
          class="px-10 lg:px-16 py-2 lg:py-3 bg-mj-blue-1 text-white disabled:bg-opacity-50 font-bold text-lg rounded-full uppercase tracking-widest shadow-md"
          @click.prevent="submitForm"
          :disabled="$v.$invalid"
          >
            Invia
          </button>
      </div>

    </form>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import MjInput from '@/components/MJInput'
export default {
  name: 'UserLogin',
  data: function() {
    return {
      email: '',
      password: ''
    }
  },
  components: {
    MjInput
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  methods: {
    submitForm() {
      const postBody = {
        email: this.email,
        password: this.password
      };
      this.$store.dispatch( 'doLogin', postBody );
    }
  }
}
</script>
