<template>
    <header class="flex justify-between px-4 py-2 lg:py-4 flex-wrap">
        <div class="flex items-center flex lg:hidden w-1/3 order-1">
          <router-link to="/" class="relative h-8 w-8 p-1 flex items-center justify-center">
            <font-awesome-icon 
                  :icon="[ 'fas', 'search' ]"
                  class="text-white text-xl"></font-awesome-icon>
          </router-link>
        </div>
        <div class="logo flex w-1/3 order-2 lg:order-1">
          <img src="@/assets/images/musa-logo-bianco-web.png" alt="">
        </div>
        <div id="menu" 
          class="relative flex w-auto flex-grow-0 lg:flex-grow justify-between h-full border-b border-white mx-auto lg:ml-24 xl:ml-64 mt-6 lg:mt-0 order-4 lg:order-2">
          <nav class="relative h-full flex items-end">
            <router-link to="/">
              Home
              <div class="marker"></div>
            </router-link>
            <router-link to="/list" v-if="isAuth">
              Annunci
              <div class="marker"></div>
            </router-link>
            <router-link to="/profile" v-if="isAuth">
              Profilo
              <div class="marker"></div>
            </router-link>
            <a href="http://musaformazione.it" target="_blank">
              Corsi
              <div class="marker"></div>
            </a>
          </nav>

          <div class="relative hidden lg:flex h-full items-end pb-3">
            <div class="relative mr-4">
              <router-link 
                v-if="!isAuth"
                to="/login"
                class="relative inline-block bg-white rounded-full uppercase text-blue-600 py-1 px-5 lg:px-10 text-sm lg:text-base font-bold shadow hover:shadow-none">
                  {{headerButtonLabel}}
              </router-link>

              <button
                v-else
                @click="onLogout"
                class="relative inline-block bg-white rounded-full uppercase text-blue-600 py-1 px-5 lg:px-10 text-sm lg:text-base font-bold shadow hover:shadow-none">
                  {{headerButtonLabel}}
              </button>
            </div>
            <div id="header-search" class="relative">
              <mj-input
                placeholder="search..."
                layout="light"
                icon-position="inner"
                :icon="[ 'fas', 'search' ]"
              ></mj-input>
            </div>
          </div>
        </div>

        <div class="relative flex lg:hidden w-1/3 order-3 justify-end items-center">
          <router-link 
              v-if="!isAuth"
              to="/login"
              class="relative inline-block bg-white rounded-full uppercase text-blue-600 py-1 px-5 lg:px-10 text-sm lg:text-base font-bold shadow hover:shadow-none">
              {{headerButtonLabel}}
          </router-link>

          <button
            v-else
            @click="onLogout"
            class="relative inline-block bg-white rounded-full uppercase text-blue-600 py-1 px-5 lg:px-10 text-sm lg:text-base font-bold shadow hover:shadow-none">
            {{headerButtonLabel}}
          </button>
          
        </div>
      </header>
</template>

<script>

import MjInput from '@/components/MJInput'

export default {
    name: 'mj-header',
    components: {
        MjInput
    },
    computed: {
        isAuth: function() {
          return this.$store.getters.isAuth;
        },
        headerButtonLabel: function() {
            return this.isAuth ? 'logout' : 'accedi';
        }
    },
    methods: {
      onLogout() {
        this.$store.dispatch( 'doLogout' );
      }
    }
}
</script>

<style lang="scss" scoped>

  header {
    height: map-get( $header-heights, 'sm' );

    @media ( min-width: 1024px ) {
      height: map-get( $header-heights, 'lg' );
    }

    .logo {
      position: relative;
      height: auto;

      @media (min-width: 1024px) {
        height: 100%;
        width: auto;
      }

      img {
        width: 100%;
        height: auto;

        @media (min-width: 1024px) {
          height: 100%;
          width: auto;
        }
      }
    }

    #menu {
      nav {
        color: #fff;
        a {
          position: relative;
          font-weight: bold;
          @apply uppercase;
          @apply mr-12;
          @apply text-lg;
          @apply pb-3;

          @media (min-width: 1024px) {
            @apply mr-16;
          }

          @media (min-width: 1280px) {
            @apply mr-24;
          }

          .marker {
            position: absolute;
            display: none;
            width: 100%;
            height: 4px;
            left: 0;
            background-color: map-get( $colors, 'green-1');
            bottom: 0;
          }

          &:hover,
          &.router-link-exact-active {
            .marker { 
              display: block;
            }
          }

          &:last-child {
            @apply mr-0;
          }
        }
      }

      #header-search {
        input {
          max-width: 200px;
        }
      }
    }
    
  }
</style>
