<template>
    <router-link 
        to="/login"
        class="relative inline-block bg-white rounded-full uppercase text-blue-600 py-1 px-5 lg:px-10 text-sm lg:text-base font-bold shadow hover:shadow-none">
        {{label}}
    </router-link>
</template>

<script>
export default {
    name: 'mj-header-button',
    props: {
        label: String
    }
}
</script>