<template>
  <div :class="containerClasses" class="input-container">

    <span 
        class="absolute top-0 left-0 h-full w-8 p-1 flex justify-center items-center"
        v-if="iconPosition === 'outer'">
        <font-awesome-icon 
          :icon="icon"
          class="text-white text-xl"></font-awesome-icon>
    </span>
    <input 
      :class="inputClasses" 
      :id="id" 
      :name="name"
      :type="inputType" 
      :required="isRequired"
      :placeholder="placeholder"
      v-on:input="$emit('input', $event.target.value)"
      v-bind:value="value">
      <span 
        class="absolute top-0 right-0 h-full w-8 p-1 flex justify-center items-center"
        v-if="iconPosition === 'inner'">
        <font-awesome-icon 
          :icon="icon"
          class="text-white text-xl"></font-awesome-icon>
      </span>

      <slot></slot>
  </div>
</template>

<script>

export default {
    name: 'mj-input',
    props: {
      layout: {
        type: String,
        required: true
      },
      id: {
        type: String,
        default: ''
      },
      placeholder: {
        type: String,
        default: ''
      },
      name: {
        type: String,
        default: ''
      },
      inputType: {
        type: String,
        default: 'text'  
      },
      isRequired: {
        type: Boolean,
        default: false
      },
      iconType: {
        type: String,
        default: ''
      },
      iconPosition: {
        type: String,
        default: ''
      },
      icon: {
        type: Array,
        default: function() {
          return [];
        }
      },
      value: {
        type: [String, Number]
      },
      hasError: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      containerClasses: function() {
        let classes = '';

        if( this.iconType === 'empty' ||  this.iconPosition === 'outer' ) {
          classes += ' pl-10'
        }

        return classes;
      },
      inputClasses: function() {
        let classes = 'appearance-none border-2 rounded w-full py-2 pl-4 text-white leading-tight focus:outline-none';

        if( this.iconPosition === 'inner' ) {
          classes += ' pr-10';
        } else {
          classes += ' pr-4'
        }

        if( this.hasError ) {
          classes += ' bg-red-400 border-red-700';
        } else {
          if( this.layout === 'light') {
            classes += ' bg-transparent';
          } else if( this.layout === 'dark' ) {
            classes += ' bg-mj-blue-1';
          }
        }
        return classes;
      }
    }
    
}
</script>

<style lang="scss" scoped>

</style>
