<template>
  <div id="app">
    <div id="wrapper">
      <mj-header></mj-header>
      <router-view/>
    
      <footer>
        footer
      </footer>
    </div>

  </div>
</template>

<script>
  import MjHeader from '@/components/MJHeader'

  export default {
   components: {
     MjHeader
   },
   created() {
    this.$store.dispatch( 'checkLogin' );
   }
  }

</script>

<style lang="scss">
  #wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
    background: rgb(26, 104, 179); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(26, 104, 179,1) 0%, rgba(123, 202, 85,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(26, 104, 179,1) 0%,rgba(123, 202, 85,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(26, 104, 179,1) 0%,rgba(123, 202, 85,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a68b3', endColorstr='#7bca55',GradientType=0 ); /* IE6-9 */

  }

  main {
    min-height: auto;

    @media(min-width: 1024px) {
      min-height: calc( 100vh - 100px );
    }
  }



</style>
